<div class='row'>
  <div class='col s12 m6'>
    <div class='card blue-grey darken-1'>
      <div  class='card-content white-text scrollable-content'>
        <span class='card-title'></span>
        {{#each sets as |set|}}
          <h1>{{set.venueName}}</h1>
          <h4>{{set.tourName}}</h4>
          <p>{{set.city}}</p>
          <p>{{set.country}}</p>
          <p>Set One</p>
          {{#each set.setOneSongs as |st1|}}
            <p>{{st1}}</p>
          {{/each}}
          <p>Set Two</p>
          {{#each set.setTwoSongs as |st2|}}
            <p>{{st2}}</p>
          {{/each}}
        {{/each}}

      </div>
      {{!-- <div class='card-action'> --}}

      </div>
    </div>
  </div>
</div>